---
title: Embaixadoras
---

<section class="hero diagonal">
	<div class="container">
		<p class="subtext editable">
			Como ampliar o alcance de projetos de inovação cívica pelos estados e cidades do Brasil? 
		</p>
		<p class="subtexteditable">
			Conheça o projeto <i>Embaixadoras</i>, rede composta por cidadã(o)s que desejam contribuir com a comunidade de tecnologias abertas e engajar mais pessoas nessa iniciativa!
		</p>

		<p class="subtext editable">
			Cada embaixador(a) de inovação cívica atua na organização de eventos locais, bate-papos, documentação de processos e, claro, na integração com os demais integrantes da rede.
		</p>

		<div align="center">
			<!-- <p><a class="button-subscriber" target=”_blank” href="https://docs.google.com/forms/d/e/1FAIpQLScpymQF4cJnz7r8gSbiG-V8pd5r-nyvI-NBFObdAt1rz6LFFw/viewform" style="font-style: normal;">QUERO FAZER PARTE ♥</a></p> -->

			<img src="{{ site.baseurl }}/images/logos_embaixadoras_white.png" alt="Urban" width="400">
		</div>

</section>

<section class="diagonal" style="background: #e9e9ea">
	<div class="container halves">
		<div style="color: #121648;">
			<h3 class="editable">O que você pode fazer?</h3>
			<p class="editable" style="color: #121648;">
				
				Como embaixadora ou embaixador, você vai ajudar a construir comunidades de colaboração em todo o país. Entre as primeiras missões da rede, estão: 
			<p class="editable" style="color: #121648;">	
				- Fomentar projetos de inovação cívica e debates em torno do conhecimento livre, dados abertos e transparência;  
			</p>
			<p class="editable" style="color: #121648;">
				- Promover o <a target=”_blank” href="https://queridodiario.ok.org.br/">Querido Diário</a>, projeto focado em abrir os dados de diários oficiais em todas as regiões.      
			</p>
			<p class="editable"><strong><a href="{{ site.baseurl }}/events/">Acompanhe os eventos &rarr;</a></strong></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for event in site.events limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ event.url }}"><img src="{% include relative-src.html src=event.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate" style="background: #eb2dfc">
	<div class="container halves" style="align-items: normal;">
		<div style="color: white">
			<h3 class="editable">Política de igualdade e diversidade</h3>
			<p class="editable" style="color: white">A Open Knowledge está comprometida com a promoção da igualdade e da diversidade, valores centrais para a organização. Construímos um ambiente de trabalho respeitoso e construtivo para todos independente de deficiência, nacionalidade, gênero, identidade de gênero, orientação sexual, raça, idade, religião/crença ou quaisquer outras características pessoais. Durante chamamentos públicos priorizamos a diversidade, buscando ativamente pela inclusão de grupos sub-representados nas áreas de Tecnologia e Inovação.</p>
		</div>
		<div style="color: white">
			<h3 class="editable">Código de Conduta das comunidades de Inovação Cívica</h3>
			<p class="editable" style="color: white">
			As comunidades de Inovação Cívica (IC) da OKBR devem promover ambientes amistosos, de boa convivência, inclusivos e livres de intimidação. 

			Não é tolerado nenhum tipo de assédio, discriminação ou humilhação pública.</p>

			<p style="display: flex; justify-content: center;">
				<a class="button" target=”_blank” href="https://github.com/okfn-brasil/embaixadoras/blob/master/codigo_de_conduta.md" 
				style="font-style: normal; margin-top: 0;">Acesse o código de conduta</a>
			</p>
		</div>

	</div>
</section>
