---
title: Time
heading: Quem participa
subtitle: Este espaço é dedicado à linda rede de pessoas embaixadoras que estão em várias cidades do Brasil. Falta a sua foto aqui! 
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdxDBb8tnGn_oEU-gdSiFf4KGclEnoso92KamYk3rzggqVliA/viewform">Participe :) </a>
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
